{% extends "combat/base2.html" %}

{% block title %}Ma page d'accueil{% endblock %}
{% block content %}
<h1>{{title}}</h1>
<form action="/combat/display?type=weapon" method="post">{% csrf_token %}
{{WeaponForm}}
<input type="submit" value="display" />
</form>
<form action="/combat/display?type=armor" method="post">{% csrf_token %}
{{ArmorForm}}
<input type="submit" value="display" />
</form>
<form action="/combat/display?type=creature" method="post">{% csrf_token %}
{{CreatureForm}}
<input type="submit" value="display" />
</form>
{% endblock %}
